@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Open+Sans:wght@300;400;600&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: rgb(139, 139, 139);
}
header{
    background-color: #1919b9;
    color: white;
    text-align: center;
}
h1{
    padding: 20pt;
}
i{
    width: 100%;
}
#menu{
    display: none;
}
li{
    padding: 5pt;
    background-color: rgb(65, 65, 65);
    border-bottom: solid 1px black;
}
li:hover{
    background-color: rgb(92, 92, 92);  
}
a{  
    color: rgb(255, 255, 255);
    text-decoration:none ; 
}
main{
    width: 90vw;
    padding: 10pt;
    margin: auto;
    margin-top: 10pt;
    background-color: white;
    border-radius: 10pt;
}
h2{
    text-align: center;
}
p{
    text-align: justify;
    text-indent: 20pt;
}
@media screen and (min-width:668px) {
    main{
        max-width:700px ;
        margin: auto;
        margin-top: 10pt;
    }
    #botao{
        display: none; 
    }
    ul{
        background-color: #1919b9;
        height: 25pt;
    }
    ul{
        display: block;
    }
    li{
        background-color: #1919b9;
        border: none;
        display: inline;
    }
    li:hover{
        background-color: #5252ea;
        border-radius: 5pt;
    }
}