

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Open+Sans:wght@300;400;600&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat','Open Sans', sans-serif;
}
body{
    margin: 0;
    background-color:#ffffff ;
}
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background-color: #0100be;
    height: 80pt; 
}
header > h1{
    text-align: center;
    margin: 0;
}
nav{
    background-color: #0100be;
    height: 30pt;
}
li{
    display: inline-block;
    color: #ffffff;
}
nav > li > i {
    display: none;
}
nav  li a{
    color: #ffffff;
    text-decoration: none;
}
nav a:hover{
    transition: .5s;
    background-color: #423ad8;
    border-radius: 5pt;
    text-decoration: underline;

}
main{
    max-width: 800px;
    min-width: 300px;
    margin: auto;
    padding: 10pt;
    background-color: #ffffff;
    box-shadow: 0 0 10pt rgba(0, 0, 0, 0.382);
}
main > h1 {
    text-align: center;
    color: #1e188f;
}
main > h2 {
    border-bottom: solid 2pt;
    color: #1e188f;
}
main > p{
    margin: 10pt;
    text-align: justify;
    text-indent: 20pt;
}
img{
    display: block;
    margin: auto;
}
footer{
    height: 200pt;
    background-color: rgb(5, 0, 70);
    color: white;
    font-size: 10pt;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}
div{
    width: auto;
}
i{
    font-size: 13pt;
}
footer > p{
    margin: 10pt;
}
footer > div > a {
    margin: 0pt 5pt;
    color: white;
    text-decoration: none;
}
i:hover{
    opacity: 0.8;
}
@media screen and (max-width: 768px) {
    nav{
        height: 100pt;
    }
    nav li{
        border-top: solid 1px black;
        display: block;
        background-color: rgb(105, 105, 105);
        text-align: center;
        padding: 5.5pt;
    }
    nav li:hover{
        background-color: rgb(173, 173, 173);
    }
}